body{
    background-color: rgb(139, 139, 139);
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

span{
    color: rgb(255, 255, 255);
}

button:hover{
    background-color: bisque;
}

.nav-container {
	width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}


.main-header .nav-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;

}

.main-nav li:hover{
    background-color: rgb(255, 255, 255);
}


.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
}

.home-page{
	text-align: center;

}